doctype html
html
  head
    title KVD
    //- include /header.jade
  body
    //- include /nav.jade
    
    p This is the first folder page
    a(href="../index.html") Back home
      
    //- include /footer.jade
