// build:js js/main.min.js
script(src="../dev/js/libs/jquery-2.1.4.min.js")
script(src="../dev/js/libs/google_analytics.js")
script(src="../dev/js/libs/modernizr-custom.js")
script(src="../dev/js/main/main.js")
script(src="../dev/js/main/test.js")
// endbuild
