doctype html
html
  head
    title New Project Gulp
    include /header.pug
    
  body.home
    include /nav.pug
    
    h1 Hello world!
    a(href="http://kenvandamme.be", target="_blank") kenvandamme.be
    
    include /footer.pug
