doctype html
html
  head
    title New Project Gulp
    include /header.pug
    
  body.home
    include /nav.pug
    
    h1 Hello world!
    img(src=$path + "images/one.png", alt="One")
    h2 Your path is set to: #{$path}
    a(href="http://kenvandamme.be", target="_blank") kenvandamme.be
    
    include /footer.pug
