// Colors general
$lightgray:     #EFEFEF;
$grey:          #CCCCCC;
$darkgray:      #333333;
$white:         #FFFFFF;

// Colors specific

// General
$corner:        8px;
$circle:        50%;

// Font(s)
$font-family:   Karla, Arial, sans-serif;
$font-size:     14px;
$font-weight:   normal;
$lin-height:    22px;

// Media queries
$xs: 		        "(min-width: 0px) and (max-width: 499px)";
$s: 		        "(min-width: 500px) and (max-width: 767px)";
$m: 		        "(min-width: 768px) and (max-width: 989px)";
$l: 		        "(min-width: 990px) and (max-width: 1299px)";
$xl: 		        "(min-width: 1300px) and (max-width: 1699px)";
$xxl: 		      "(min-width: 1700px)";
