doctype html
html
  head
    title Folder - New Project Gulp
    include /header.pug
    
  body
    include /nav.pug

    h2 This is the first folder page
    a(href=$path + "") Back home

    include /footer.pug
