doctype html
html
  head
    title Folder - New Project Gulp
    include /header.pug

  body
    include /nav.pug

    h2 This is the first folder page
    img(src=$path + "images/one_folder.jpg", alt="One folder")
    a(href=$path + "") Back home

    include /footer.pug
