script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
script.
  window.jQuery || document.write('<script src="/js/jquery.min.js')

script(src=$path + "js/vendors.min.js")
script(src=$path + "js/main.min.js")
